body {
  background-color: black; 
}

::-webkit-scrollbar {
    width: 12px;
}
 
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px red; 
    border-radius: 10px;
}
 
::-webkit-scrollbar-thumb {
    border-radius: 10px; 
    -webkit-box-shadow: inset 0 0 6px yellow; 
}

#streamTitle {
  font-family: Arial;
  text-align: center;
  font-style: bold;
  color: #fff6af;
  font-size: 24pt;
}

#navBar {
  font-family: Arial;
  color: red;
  font-size: 18pt;
}

#tweetBox {
  font-family: "Andale Mono", AndaleMono, monospace;
  background-color: transparent;
  width: 90%;
  margin: 0 auto;
  overflow: scroll;
  overflow-x: hidden;
 }

.tweetUser {
  color: #CC0000;
  font-style: bold;
}

.tweetText {}

.tweet {
  margin: 6px;
  padding: 3px;
  -moz-box-shadow:inset 0px 1px 0px 0px #fff6af;
  -webkit-box-shadow:inset 0px 1px 0px 0px #fff6af;
  box-shadow:inset 0px 1px 0px 0px #fff6af;
  background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ffec64), color-stop(1, #ffab23) );
  background:-moz-linear-gradient( center top, #ffec64 5%, #ffab23 100% ); 
 filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffec64', endColorstr='#ffab23');
  background-color:#ffec64;
  -moz-border-radius:6px;
  -webkit-border-radius:6px;
  border-radius:6px;
  border:1px solid #ffaa22;
  color:#333333;
}

.tweetTime {
  font-style: oblique;
  color: #005C99;
}
 
